body {
    font-family: Arial;
    text-align: center;
    background-color: #f0f0f0;
    padding-top: 50px;
}

.caja {
    background: white;
    padding: 30px;
    max-width: 400px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 0 10px gray;
}

input {
    padding: 10px;
    font-size: 18px;
    width: 100px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.btn-reiniciar {
    background-color: orange;
}

#resultado {
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
}
